@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --h1-color-primary: #1e293b;
  --p-color-primary: #475569;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: 16px;
  background-color: #ffffff;
  max-width: 1440px;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 112px;
  padding: 1rem 4rem;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  color: var(--p-color-primary);
  font-weight: 700;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}
nav .sign-up-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}
nav .sign-up-btn .sign-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 12px;
  width: 100px;
  height: 48px;
  border: 1px solid;
  border-color: #cbd5e1;
  border-radius: 24px;
  color: #475569;
  font-size: 16px;
  font-weight: 700;
}
nav .sign-up-btn .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 12px 12px;
  width: 100px;
  height: 48px;
  border: 1px solid;
  border-radius: 24px;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
/* NAVBAR ENDS HERE */
/* Menu Icon (Hidden on Desktop) */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
/* HERO SECTION STARTS HERE */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: full;
  background-image: linear-gradient(
    to top,

    #8473ef,
    #afa1f6,
    #d7d0fc,
    #ffffff
  );
  padding: 20px auto;
  width: 100%;
}
.hero-btn {
  height: 38px;
  width: 200px;
  background-color: #eef2ff;
  padding: 6px 12px;
  border-radius: 24px;
  margin-top: 20px;
  text-align: center;
}
.hero-btn h3 {
  color: #4f46e5;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 8px auto;
}
.hero-text {
  padding: 30px 113px;
  text-align: center;
  max-width: 800px;
}
.hero-text h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  color: var(--h1-color-primary);
  margin: 20px 0;
}
.hero-text p {
  font-size: 16px;
  color: var(--p-color-primary);
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  margin-bottom: 20px;
}
.buttons {
  margin: 20px auto;
}
.hero-image {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
}
.desktop-image {
  position: absolute;
  right: 15%;
}
.desktop-image img {
  width: 100%;
  height: auto;
}
.mobile-image {
  position: relative;
  left: 35%;
  top: 40%;
}
/* HERO SECTION ENDS HERE */
/* COMPANY LOGO SECTION STARTS HERE */
.company-logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20%;
  width: 100%;
  background-color: #f8fafc;
}
.company-logo img {
  width: 100px;
  height: auto;
}
/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  nav {
    padding: 16px 40px;
  }
  nav ul {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .hero-text {
    padding: 20px 40px;
  }
  .hero-text h1 {
    font-size: 48px;
    line-height: 50px;
  }
  .hero-text p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 16px 24px;
  }
  .menu-icon {
    display: block;
  }
  nav .sign-up-btn {
    display: none;
  }
  .hero-text {
    padding: 15px 20px;
  }
  .hero-text h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .hero-text p {
    font-size: 14px;
  }
  .hero-image {
    width: 100%;
    padding-top: 20%;
  }

  .mobile-image {
    left: 42%;
    transform: translateX(-50%);
    width: 30%;
  }
  .mobile-image img {
    width: 90%;
    height: auto;
  }

  .company-logo-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20%;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 12px 16px;
  }
  .hero-text {
    padding: 10px 15px;
  }
  .hero-text h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .hero-text p {
    font-size: 12px;
  }
  .hero-image {
    width: 100%;
    padding-top: 15%;
  }
  .desktop-image {
    width: 100%;
    right: 0;
  }
  .mobile-image {
    left: 28%;
    transform: translateX(-50%);
    width: 20%;
  }
  .mobile-image img {
    width: 100%;
    height: auto;
  }
  .company-logo-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30% auto;
  }
}
